@charset "UTF-8";
/**
 * CSS générer par GULP grâce à la cmd "npm-start".
 *
 * Toute modification sur un fichier *.scss lance la compilation de tous les *.scss vers ce fichier.
 *
 * @since 2.0.0
 */
/* Bleu ciel, couleur principale */
/* Bleu fonce, couleur de l'interface */
/* Autres couleurs */
/**
 * Interface de mise à jour des données
 */
.wpeo-modal .notice {
  margin-left: 0; }

.wpeo-modal .wpeo-grid {
  width: 100%; }

.wpeo-modal .item {
  display: block;
  background-color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item:after {
  display: block;
  content: '';
  clear: both; }

.wpeo-modal .item .item-spin {
  width: 80px;
  position: relative;
  border-left: 6px solid #4c4c4c; }

.wpeo-modal .item .item-spin .wps-spinner, .wpeo-modal .item .item-spin .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 20px; }

.wpeo-modal .item .item-spin .wps-spinner {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(-50%, -120%);
      -ms-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-spin .icon {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-container {
  width: 100%;
  margin: auto 0;
  padding: 2em 2em 2em 0em; }

.wpeo-modal .item .item-content .item-title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-bottom: 0.4em; }

.wpeo-modal .item .item-content .item-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5); }

.wpeo-modal .item .item-progress {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  padding: 0 1em;
  height: 26px;
  line-height: 26px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  margin-top: 2em; }

.wpeo-modal .item .item-progress .item-progression {
  position: absolute;
  background-color: #47e58e;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-progress .item-stats {
  position: relative;
  font-size: 12px; }

.wpeo-modal .item.in-progress-item {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px); }

.wpeo-modal .item.in-progress-item .item-spin {
  border-left: 6px solid #0d8aff; }

.wpeo-modal .item.in-progress-item .item-spin .fa-spin {
  color: #0d8aff; }

.wpeo-modal .item.in-progress-item .wps-spinner {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.wpeo-modal .item.in-progress-item .icon {
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.wpeo-modal .item.done-item .item-spin {
  border-left: 6px solid #47e58e; }

.wpeo-modal .item.done-item .icon:before {
  color: #47e58e; }

.wpeo-modal .general-message {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center; }

.wpeo-table td, .wpeo-table th {
  border: 0; }

.wpeo-table > tfoot {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8); }

.wpeo-table > tfoot td {
  padding: .2em .6em;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.wps-checkout-review-order-table tbody tr td:last-child, .wps-checkout-review-order-table tfoot tr td:last-child {
  text-align: right; }

/** Temporaire **/
.wp-admin select {
  height: auto !important; }

.post-type-wps-order #post-body-content, .post-type-wps-order #titlediv {
  display: none; }

.post-type-wps-proposal #post-body-content, .post-type-wps-proposal #titlediv {
  display: none; }

#toplevel_page_wps-order .wp-first-item {
  display: none; }

.synchro-single .filter-entry {
  width: 99.8%;
  padding: 10px; }

.synchro-single .select {
  margin: 0;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black 1px; }

.synchro-single .select li {
  display: block;
  padding: 10px;
  margin: 0; }

.synchro-single .select li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0); }

.synchro-single .select li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1); }

.synchro-single .select li:hover {
  color: white;
  background-color: #3495f0;
  cursor: pointer; }

.synchro-single .select li.active {
  color: white;
  background-color: #3495f0; }

.need-to-confirm .modal-container {
  max-width: 600px;
  max-height: 420px; }

.need-to-confirm .modal-container .modal-content {
  height: 68%; }

.choose {
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.choose:hover {
  background-color: #ececec; }

.choose .wpeo-button.button-main {
  background-color: #272a35; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  text-align: center; }

.mask h3 {
  font-size: 30px;
  color: white; }

.mask .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%); }
