@charset "UTF-8";
/**
 * CSS générer par GULP grâce à la cmd "npm-start".
 *
 * Toute modification sur un fichier *.scss lance la compilation de tous les *.scss vers ce fichier.
 *
 * @since 2.0.0
 */
/* Bleu ciel, couleur principale */
/* Bleu fonce, couleur de l'interface */
/* Autres couleurs */
.wpeo-autocomplete .autocomplete-label:hover {
  border: 1px solid #1897e7; }

.wpeo-autocomplete .autocomplete-label .autocomplete-loading {
  background: #1897e7; }

.wpeo-autocomplete .autocomplete-label .autocomplete-loading-background {
  background: rgba(24, 151, 231, 0.4); }

.wpeo-button {
  /* par défaut */
  background: #1897e7;
  border-color: #1897e7; }

.wpeo-button.button-main {
  background: #1897e7;
  border-color: #1897e7; }

.wpeo-button.button-dark {
  background: #272a35;
  border-color: #272a35; }

.wpeo-button.button-grey {
  background: #ececec;
  border-color: #ececec; }

.wpeo-button.button-red {
  background: #e05353;
  border-color: #e05353; }

.wpeo-button.button-yellow {
  background: #e9ad4f;
  border-color: #e9ad4f; }

.wpeo-button.button-green {
  background: #47e58e;
  border-color: #47e58e; }

.wpeo-button.button-pink {
  background: #e454a2;
  border-color: #e454a2; }

.wpeo-button.button-purple {
  background: #898de5;
  border-color: #898de5; }

.wpeo-button.button-grey {
  background: #ececec;
  border-color: #ececec; }

.wpeo-button.button-transparent {
  background: transparent;
  border-color: transparent; }

.wpeo-button.button-bordered {
  border-color: #1897e7;
  color: #1897e7; }

.wpeo-button.button-bordered.button-main {
  border-color: #1897e7;
  color: #1897e7; }

.wpeo-button.button-bordered.button-main:hover {
  -webkit-box-shadow: inset 0 -2.6em #1897e7;
          box-shadow: inset 0 -2.6em #1897e7; }

.wpeo-button.button-bordered.button-dark {
  border-color: #272a35;
  color: #272a35; }

.wpeo-button.button-bordered.button-dark:hover {
  -webkit-box-shadow: inset 0 -2.6em #272a35;
          box-shadow: inset 0 -2.6em #272a35; }

.wpeo-button.button-bordered.button-grey {
  border-color: #ececec;
  color: #a0a0a0; }

.wpeo-button.button-bordered.button-grey:hover {
  -webkit-box-shadow: inset 0 -2.6em #ececec;
          box-shadow: inset 0 -2.6em #ececec; }

.wpeo-button.button-bordered.button-red {
  border-color: #e05353;
  color: #e05353; }

.wpeo-button.button-bordered.button-red:hover {
  -webkit-box-shadow: inset 0 -2.6em #e05353;
          box-shadow: inset 0 -2.6em #e05353; }

.wpeo-button.button-bordered.button-yellow {
  border-color: #e9ad4f;
  color: #e9ad4f; }

.wpeo-button.button-bordered.button-yellow:hover {
  -webkit-box-shadow: inset 0 -2.6em #e9ad4f;
          box-shadow: inset 0 -2.6em #e9ad4f; }

.wpeo-button.button-bordered.button-green {
  border-color: #47e58e;
  color: #47e58e; }

.wpeo-button.button-bordered.button-green:hover {
  -webkit-box-shadow: inset 0 -2.6em #47e58e;
          box-shadow: inset 0 -2.6em #47e58e; }

.wpeo-button.button-bordered.button-pink {
  border-color: #e454a2;
  color: #e454a2; }

.wpeo-button.button-bordered.button-pink:hover {
  -webkit-box-shadow: inset 0 -2.6em #e454a2;
          box-shadow: inset 0 -2.6em #e454a2; }

.wpeo-button.button-bordered.button-purple {
  border-color: #898de5;
  color: #898de5; }

.wpeo-button.button-bordered.button-purple:hover {
  -webkit-box-shadow: inset 0 -2.6em #898de5;
          box-shadow: inset 0 -2.6em #898de5; }

.wpeo-button.button-bordered.button-grey {
  border-color: #ececec;
  color: #ececec; }

.wpeo-button.button-bordered.button-grey:hover {
  -webkit-box-shadow: inset 0 -2.6em #ececec;
          box-shadow: inset 0 -2.6em #ececec; }

.wpeo-button.button-bordered:hover {
  -webkit-box-shadow: inset 0 -2.6em #1897e7;
          box-shadow: inset 0 -2.6em #1897e7; }

/** Progress button */
.wpeo-button.button-progress.button-success {
  background: #47e58e;
  border-color: #47e58e; }

.wpeo-button.button-progress.button-error {
  background: #e05353;
  border-color: #e05353; }

.wpeo-button.button-progress.button-load {
  background: #ececec; }

.wpeo-button.button-progress.button-load:before {
  border-top: 3px solid #1897e7; }

.wpeo-form .form-element input[type="checkbox"].form-field:not(:checked) + label:hover:before {
  -webkit-box-shadow: 0 0 0 2px #1897e7;
          box-shadow: 0 0 0 2px #1897e7; }

.wpeo-form .form-element input[type="checkbox"].form-field:checked + label:before {
  -webkit-box-shadow: 0 0 0 2px #1897e7;
          box-shadow: 0 0 0 2px #1897e7;
  background: #1897e7; }

.wpeo-form .form-element input[type="radio"].form-field:hover {
  border: 1px solid #1897e7;
  -webkit-box-shadow: 0 0 0 1px #1897e7 inset;
          box-shadow: 0 0 0 1px #1897e7 inset; }

.wpeo-form .form-element input[type="radio"].form-field:checked {
  border: 1px solid #1897e7;
  -webkit-box-shadow: 0 0 0 4px #1897e7 inset;
          box-shadow: 0 0 0 4px #1897e7 inset; }

.wpeo-loader .loader-spin {
  border-top: 3px solid #1897e7; }

.wpeo-modal .modal-container .modal-header .modal-close:hover {
  color: #1897e7; }

.wpeo-notification .notification-title a {
  color: #1897e7; }

.wpeo-notification .notification-close:hover {
  color: #1897e7; }

/** Couleur */
.wpeo-notification.notification-green {
  border-left: 4px solid #47e58e; }

.wpeo-notification.notification-green .notification-icon {
  color: #47e58e; }

.wpeo-notification.notification-orange {
  border-left: 4px solid #e9ad4f; }

.wpeo-notification.notification-orange .notification-icon {
  color: #e9ad4f; }

.wpeo-notification.notification-red {
  border-left: 4px solid #e05353; }

.wpeo-notification.notification-red .notification-icon {
  color: #e05353; }

.wpeo-pagination .pagination-element.pagination-current a {
  background: #1897e7; }

.wpeo-pagination .pagination-element.pagination-current a:hover {
  background: #1897e7; }

/* Couleurs */
.wpeo-popover.popover-primary {
  background: #1897e7; }

.wpeo-popover.popover-primary.popover-top:before {
  border-color: #1897e7 transparent transparent transparent; }

.wpeo-popover.popover-primary.popover-right:before {
  border-color: transparent #1897e7 transparent transparent; }

.wpeo-popover.popover-primary.popover-bottom:before {
  border-color: transparent transparent #1897e7 transparent; }

.wpeo-popover.popover-primary.popover-left:before {
  border-color: transparent transparent transparent #1897e7; }

.wpeo-popover.popover-light {
  background: #ececec;
  color: rgba(0, 0, 0, 0.6); }

.wpeo-popover.popover-light.popover-top:before {
  border-color: #ececec transparent transparent transparent; }

.wpeo-popover.popover-light.popover-right:before {
  border-color: transparent #ececec transparent transparent; }

.wpeo-popover.popover-light.popover-bottom:before {
  border-color: transparent transparent #ececec transparent; }

.wpeo-popover.popover-light.popover-left:before {
  border-color: transparent transparent transparent #ececec; }

.wpeo-popover.popover-red {
  background: #e05353; }

.wpeo-popover.popover-red.popover-top:before {
  border-color: #e05353 transparent transparent transparent; }

.wpeo-popover.popover-red.popover-right:before {
  border-color: transparent #e05353 transparent transparent; }

.wpeo-popover.popover-red.popover-bottom:before {
  border-color: transparent transparent #e05353 transparent; }

.wpeo-popover.popover-red.popover-left:before {
  border-color: transparent transparent transparent #e05353; }

.wpeo-tab .tab-list .tab-element {
  /* Active */ }

.wpeo-tab .tab-list .tab-element:before {
  background: #1897e7; }

.wpeo-tab .tab-list .tab-element.tab-active {
  color: #1897e7; }

.wpeo-tab .tab-list .tab-element.tab-active > a {
  color: #1897e7; }

/* Vertical */
.wpeo-tab.tab-vertical .tab-list .tab-element {
  /* Active */ }

.wpeo-tab.tab-vertical .tab-list .tab-element.tab-active {
  color: #1897e7; }

.wpeo-tab.tab-vertical .tab-list .tab-element.tab-active a {
  color: #1897e7; }

/** Ligne entete */
.wpeo-table.table-flex .table-row.table-header {
  background: #1897e7; }

/* Header, footer */
.wpeo-table > thead, .wpeo-table > tfoot {
  background: #272a35; }

@media (max-width: 480px) {
  .wpeo-table > tbody td:before, .wpeo-table > tbody th:before {
    color: #1897e7; } }

/* Couleurs */
.wpeo-tooltip.tooltip-primary {
  background: #1897e7; }

.wpeo-tooltip.tooltip-primary.tooltip-top:before {
  border-color: #1897e7 transparent transparent transparent; }

.wpeo-tooltip.tooltip-primary.tooltip-right:before {
  border-color: transparent #1897e7 transparent transparent; }

.wpeo-tooltip.tooltip-primary.tooltip-bottom:before {
  border-color: transparent transparent #1897e7 transparent; }

.wpeo-tooltip.tooltip-primary.tooltip-left:before {
  border-color: transparent transparent transparent #1897e7; }

.wpeo-tooltip.tooltip-light {
  background: #ececec;
  color: rgba(0, 0, 0, 0.6); }

.wpeo-tooltip.tooltip-light.tooltip-top:before {
  border-color: #ececec transparent transparent transparent; }

.wpeo-tooltip.tooltip-light.tooltip-right:before {
  border-color: transparent #ececec transparent transparent; }

.wpeo-tooltip.tooltip-light.tooltip-bottom:before {
  border-color: transparent transparent #ececec transparent; }

.wpeo-tooltip.tooltip-light.tooltip-left:before {
  border-color: transparent transparent transparent #ececec; }

.wpeo-tooltip.tooltip-red {
  background: #e05353; }

.wpeo-tooltip.tooltip-red.tooltip-top:before {
  border-color: #e05353 transparent transparent transparent; }

.wpeo-tooltip.tooltip-red.tooltip-right:before {
  border-color: transparent #e05353 transparent transparent; }

.wpeo-tooltip.tooltip-red.tooltip-bottom:before {
  border-color: transparent transparent #e05353 transparent; }

.wpeo-tooltip.tooltip-red.tooltip-left:before {
  border-color: transparent transparent transparent #e05353; }

.wpeo-button {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.wpeo-button.button-square-30 {
  width: 30px;
  height: 30px;
  line-height: 24px; }

/**
 * Interface de mise à jour des données
 */
.wpeo-modal .notice {
  margin-left: 0; }

.wpeo-modal .wpeo-grid {
  width: 100%; }

.wpeo-modal .item {
  display: block;
  background-color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item:after {
  display: block;
  content: '';
  clear: both; }

.wpeo-modal .item .item-spin {
  width: 80px;
  position: relative;
  border-left: 6px solid #4c4c4c; }

.wpeo-modal .item .item-spin .wps-spinner, .wpeo-modal .item .item-spin .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 20px; }

.wpeo-modal .item .item-spin .wps-spinner {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(-50%, -120%);
      -ms-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-spin .icon {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-container {
  width: 100%;
  margin: auto 0;
  padding: 2em 2em 2em 0em; }

.wpeo-modal .item .item-content .item-title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-bottom: 0.4em; }

.wpeo-modal .item .item-content .item-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5); }

.wpeo-modal .item .item-progress {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  padding: 0 1em;
  height: 26px;
  line-height: 26px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  margin-top: 2em; }

.wpeo-modal .item .item-progress .item-progression {
  position: absolute;
  background-color: #47e58e;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-modal .item .item-progress .item-stats {
  position: relative;
  font-size: 12px; }

.wpeo-modal .item.in-progress-item {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px); }

.wpeo-modal .item.in-progress-item .item-spin {
  border-left: 6px solid #0d8aff; }

.wpeo-modal .item.in-progress-item .item-spin .fa-spin {
  color: #0d8aff; }

.wpeo-modal .item.in-progress-item .wps-spinner {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.wpeo-modal .item.in-progress-item .icon {
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.wpeo-modal .item.done-item .item-spin {
  border-left: 6px solid #47e58e; }

.wpeo-modal .item.done-item .icon:before {
  color: #47e58e; }

.wpeo-modal .general-message {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center; }

.wpeo-table.table-flex .reference-id {
  margin: 0; }

.wpeo-table.table-flex .reference-id li {
  display: inline-block;
  margin: 0 0.6em 0 0;
  color: rgba(0, 0, 0, 0.4); }

.wpeo-table.table-flex .reference-id li:last-child {
  margin: 0; }

.wpeo-table.table-flex .reference-title {
  font-size: 20px; }

.wpeo-table.table-flex .reference-title a {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none; }

.wpeo-table.table-flex .reference-title a:hover {
  color: rgba(0, 0, 0, 0.5); }

.wpeo-table.table-flex .reference-content {
  font-size: 14px;
  margin: 0.2em 0; }

.wpeo-table.table-flex .reference-content i {
  color: rgba(0, 0, 0, 0.2); }

.wpeo-table.table-flex .reference-actions {
  margin: 0.6em 0 0 0;
  line-height: 1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wpeo-table.table-flex .reference-actions li {
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding-right: 0.3em;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.wpeo-table.table-flex .reference-actions li a {
  color: #1897e7;
  text-decoration: none; }

.wpeo-table.table-flex .reference-actions li a:hover {
  color: rgba(24, 151, 231, 0.7); }

.wpeo-table.table-flex .reference-actions li.delete a {
  color: #e05353; }

.wpeo-table.table-flex .reference-actions li.delete a:hover {
  color: rgba(224, 83, 83, 0.7); }

.wpeo-table.table-flex .reference-actions li:last-child {
  margin: 0;
  padding: 0;
  border-right: 0; }

.wpeo-table.table-flex .table-row:hover .reference-actions {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  pointer-events: all; }

.wps-list-product img {
  display: block; }

.wpeo-table .list-contact .contact {
  margin-bottom: 0.6em; }

.wpeo-table .list-contact .contact:last-child {
  margin-bottom: 0; }

.wpeo-table .list-contact .contact-title {
  font-size: 16px; }

.wpeo-table .list-contact .contact-list-data {
  margin: 0; }

.wpeo-table .list-contact .contact-data {
  display: inline-block;
  margin: 0 0.4em 0 0; }

.wpeo-table .list-contact .contact-data:last-child {
  margin: 0; }

.wpeo-table .list-contact .contact-data i {
  color: rgba(0, 0, 0, 0.2); }

.wpeo-table .list-commercial .commercial-date {
  color: rgba(0, 0, 0, 0.4); }

.wpeo-table .list-commercial .commercial-title {
  color: #1897e7; }

.wpeo-table.table-flex {
  border: 0;
  background: #fff; }

.wpeo-table.table-flex .table-row.table-header {
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); }

.wpeo-table.table-flex .table-row.table-header .table-cell {
  color: rgba(0, 0, 0, 0.8);
  padding-top: 0; }

.wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.02); }

.wpeo-table.table-flex .table-button-edit {
  color: #1897e7; }

.wpeo-table.table-flex input[type=checkbox],
.wpeo-table.table-flex input[type=color],
.wpeo-table.table-flex input[type=date],
.wpeo-table.table-flex input[type=datetime-local],
.wpeo-table.table-flex input[type=datetime],
.wpeo-table.table-flex input[type=email],
.wpeo-table.table-flex input[type=month],
.wpeo-table.table-flex input[type=number],
.wpeo-table.table-flex input[type=password],
.wpeo-table.table-flex input[type=radio],
.wpeo-table.table-flex input[type=search],
.wpeo-table.table-flex input[type=tel],
.wpeo-table.table-flex input[type=text],
.wpeo-table.table-flex input[type=time],
.wpeo-table.table-flex input[type=url],
.wpeo-table.table-flex input[type=week],
.wpeo-table.table-flex select,
.wpeo-table.table-flex textarea {
  width: 100%; }

.wpeo-table td, .wpeo-table th {
  border: 0; }

.wpeo-table > tfoot {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8); }

.wpeo-table > tfoot td {
  padding: .2em .6em;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.wpeo-table a {
  color: #1897e7;
  text-decoration: none; }

.wps-checkout-review-order-table tbody tr td:last-child, .wps-checkout-review-order-table tfoot tr td:last-child {
  text-align: right; }

.wps-filter-bar {
  margin: 1em 0; }

.wps-filter-bar > * {
  display: inline-block;
  width: auto !important; }

.wps-filter-bar .wpeo-button {
  margin-right: 1em; }

/** Synchro */
.wps-sync .button-synchro {
  float: left;
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wps-sync .button-synchro i {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wps-sync .button-synchro:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2); }

.wps-sync .button-synchro:hover i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.wps-sync .statut {
  float: left;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 0.6em;
  background: rgba(0, 0, 0, 0.1); }

.wps-sync .statut.statut-green {
  background: #47e58e; }

.wps-sync .statut.statut-orange {
  background: #e9ad4f; }

.wps-sync .statut.statut-red {
  background: #e05353; }

.wps-metabox {
  background: #fff;
  padding: 2em;
  position: relative; }

.wps-metabox .metabox-title {
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 1em 0; }

.wps-metabox .metabox-edit {
  position: absolute;
  top: 1em;
  right: 1em; }

/** Header */
body.wpshop_page_wps-third-party .page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  margin-bottom: 1.8em; }

body.wpshop_page_wps-third-party .page-header h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 29px; }

body.wpshop_page_wps-third-party .page-header .wps-edit-title {
  margin: 0 0.6em;
  vertical-align: top; }

body.wpshop_page_wps-third-party .page-header .wps-sync {
  margin: auto 1em; }

/** Page Content */
body.wpshop_page_wps-third-party .wps-billing-address ul, body.wpshop_page_wps-third-party .wps-billing-address li {
  margin: 0; }

body.wpshop_page_wps-third-party .wps-billing-address ul span, body.wpshop_page_wps-third-party .wps-billing-address li span {
  font-weight: 700;
  margin-right: 0.4em; }

/** Temporaire **/
.wp-admin select {
  height: auto !important; }

.post-type-wps-order #post-body-content, .post-type-wps-order #titlediv {
  display: none; }

.post-type-wps-proposal #post-body-content, .post-type-wps-proposal #titlediv {
  display: none; }

#toplevel_page_wps-order .wp-first-item {
  display: none; }

.synchro-single .filter-entry {
  width: 99.8%;
  padding: 10px; }

.synchro-single .select {
  margin: 0;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black 1px; }

.synchro-single .select li {
  display: block;
  padding: 10px;
  margin: 0; }

.synchro-single .select li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0); }

.synchro-single .select li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1); }

.synchro-single .select li:hover {
  color: white;
  background-color: #1897e7;
  cursor: pointer; }

.synchro-single .select li.active {
  color: white;
  background-color: #1897e7; }

.need-to-confirm .modal-container {
  max-width: 600px;
  max-height: 420px; }

.need-to-confirm .modal-container .modal-content {
  height: 68%; }

.choose {
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.choose:hover {
  background-color: #ececec; }

.choose .wpeo-button.button-main {
  background-color: #272a35; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  text-align: center; }

.mask h3 {
  font-size: 30px;
  color: white; }

.mask .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%); }
